.circular-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.circular-progress {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #80db66;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 1s;
}

.skill-label {
  margin-top: 8px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  
}
